<div>
  <div id="DivMenuLiso">
    <div id="DivMenuLogo">
    </div>
    <div id="DivMenuCentralizado">
      <p class="MenuTitle">RECOMENDADOR</p>
    </div>
    <div id="DivMenuIndicador">
      <form action="/#/login">
        <button  onclick="location.href = '/#/login';" id="DivMenuIndicadorBtn" ><!--p class="titleSair">SAIR</p--></button>
      </form>
    </div>
  </div>
  
  <div id="DivMenuComLink">
    <header id="header">
        <nav class="links" style="--items: 6;">
          <a href="/#/dashboard"><img src="../../../assets/HomeOff.png"><strong>HOME</strong></a>
          <a href="/#/resumo-texto"><img src="../../../assets/SummyOff.png"><strong>SUMARIZADOR</strong></a>
          <a href="/#/page-rank" style="color: #fff100;"><img src="../../../assets/RecomendadorOn.png"><strong>RECOMENDADOR</strong></a>
          <a href="/#/acervo"><img src="../../../assets/AcervoOff.png"><strong>ACERVO</strong></a>
          <a *ngIf="!isStudent()" href="/#/file-upload"><img src="../../../assets/UploadOff.png"><strong>ENVIAR ARQUIVOS</strong></a>
          <a href="/#/about"><img src="../../../assets/AboutOff.png"><strong>SOBRE NÓS</strong></a>
          <span class="line"></span>
        </nav>
      </header>
    </div>  
</div>

<div>
  <div id="divDescricao">
    <p-header id="TitleDescrição"><b><p>O Recomendador</p></b></p-header>
    <br/>
    <p>O recomendador collectio foi desenvolvido para facilitar a sua busca dentro de páginas imensas, de maneira a filtrar os links e conteudos mais importantes de acordo com o que você deseja encontrar. É muito simples:</p>
    <br/>
    <p>&bull; Cole o link da página no campo "Link de busca"</p>
    <p>&bull; Clique em analisar para que o programa possa encontrar as melhores páginas</p>
    <p>&bull; Digite o termo que deseja encontrar no campo "Filtro"</p>
    <br/>
    <p>E pronto, rápido e fácil suas buscas são filtradas</p>
  </div>
  <br>
  <div>
    <p-table class="table" #dt [columns]="cols" [value]="books" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
    totalRecords="totalRecords" pageLinks="3">
      <ng-template pTemplate="caption">
        <div style="text-align: left;">        
          <input type="text" pInputText size="50" placeholder="Pesquisar conteúdo..." style="width:auto" [(ngModel)]="renderUrl">
          <p-button class="search" (click)="render()" style="margin-left: 1rem; margin-right: 120px;" label="Buscar Link" iconPos="right"></p-button>
          <div style="float: right;">
            <input type="text" pInputText size="50" placeholder="Filtrar resultados..." style="width:auto;" [(ngModel)]="searchText">
            <button type="button" pButton class="search" (click)="search()" label="Filtrar" style="width: 100px; margin-left: 1rem; height: auto"></button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>

        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
            </th>
        </tr>

      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <ng-container *ngIf="col.field === 'url'">
              <a href="{{rowData[col.field]}}">{{rowData[col.field]}}</a>
            </ng-container>

            <ng-container *ngIf="col.field === 'title'">
              {{rowData[col.field]}}
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<footer class="footerPrivacy">
  <small>
    Copyright ©2021 Collectio. Todos os direitos reservados. 
  </small>
  <a href="#/about"><small>Política de Privacidade</small></a>
</footer>