<div>
  <div id="DivMenuLiso">
    <div id="DivMenuLogo">
    </div>
    <div id="DivMenuIndicador">
      <form action="/#/login">
        <button  onclick="location.href = '/#/login';" id="DivMenuIndicadorBtn" ><p class="titleSair">SAIR</p></button>
      </form>
    </div>
  </div>
  
  <div id="DivMenuComLink">
    <header id="header">
        <nav class="links" style="--items: 5;">
            <a href="/#/dashboard">HOME</a>
            <a href="/#/resumo-texto">SUMARIZADOR</a>
            <a href="/#/acervo">ACERVO</a>
            <a href="/#/file-upload">ENVIAR ARQUIVOS</a>
            <a href="/#/about">SOBRE NÓS</a>
            <span class="line"></span>
        </nav>
      </header>
    </div>  
</div>
<div style="margin-top: 130px;">

<p-card header="Recomendador" [style]="{'width': '78rem', 'margin-bottom': '2em'}">
  <ng-template pTemplate="header">
      <img alt="Card" src="assets/showcase/images/usercard.png">
  </ng-template>
  <br/>
  <p>O recomendador collectio foi desenvolvido para facilitar a sua busca dentro de páginas imensas, de maneira a filtrar os links e conteudos mais importantes
    de acordo com o que voce deseja encontrar. É muito simples:
  </p>
  <br/>
  <p>1. Cole o link da página no campo "Link de busca"</p>
  <p>2. Clique em analisar para que o programa possa encontrar as melhores páginas</p>
  <p>3. Digite o termo que deseja encontrar no campo "Filtro"</p>
  <br/>
  <p>E pronto, rápido e fácil suas buscas são filtradas</p>
</p-card>

<div>
<p-table #dt [columns]="cols" [value]="books" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
totalRecords="totalRecords" pageLinks="3">
<ng-template pTemplate="caption">
  <div style="text-align: left;">        
    <input type="text" pInputText size="50" placeholder="Link de busca" style="width:auto" [(ngModel)]="renderUrl">
    <button type="button" pButton class="search" (click)="render()" style="width: 40px; height: 30px;">
      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
    </button>  
    
      <p-button class="search" (click)="render()" style="margin-left: 120px; margin-right: 120px;" label="Analisar" icon="pi pi-check-circle" iconPos="right"></p-button>
      
    

      <input type="text" pInputText size="50" placeholder="Filtro" style="width:auto" [(ngModel)]="searchText">
      <button type="button" pButton class="search" (click)="search()" style="width: 40px; height: 30px;">
        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
      </button>
  </div>
</ng-template>
<ng-template pTemplate="header" let-columns>
  <tr>
    <th *ngFor="let col of columns">
      {{col.header}}
    </th>
  </tr>

  <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
      </th>
  </tr>

</ng-template>
<ng-template pTemplate="body" let-rowData let-columns="columns">
  <tr>
    <td *ngFor="let col of columns">
      <ng-container *ngIf="col.field === 'url'">
        <a href="{{rowData[col.field]}}">{{rowData[col.field]}}</a>
      </ng-container>

      <ng-container *ngIf="col.field === 'title'">
        {{rowData[col.field]}}
      </ng-container>
    </td>
  </tr>
</ng-template>
</p-table>
</div>