body {
    background-color: #345;
    background-image: linear-gradient(to bottom, #0009, transparent);
    color: #eee;
    font-family: sans-serif;
    font-size: 62.5%;
    padding: 0 20px;
    box-sizing: border-box;
}

.table{
    z-index: 0; 
}