.content{
    margin-left: 30%;
    margin-top: 2%;
}
textarea:focus-visible{   
  background: rgb(116, 225, 65);
}
.TxtAreaResumoBox1 {
  overflow: auto;
  resize: vertical;
  font-family: Arial; 
  border: 1px solid #eafd41;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  display: block; 
}

.btnSubmit:hover{
    background: #eafd41; 
    font-family: Arial;
}