.content{
    margin-left: 30%;
    margin-top: 2%;
}
textarea:focus-visible{   
  background: rgb(240, 240, 238);
}
.TxtAreaResumoBox1 {
  overflow: auto;
  resize: vertical;
  font-family: sans-serif; 
  border: 1px solid #eafd41;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  font-size: 16px;
}

.btnSubmit:hover{ 
    font-family: sans-serif;
}
.btnSubmit{
    margin-left: 90px;  
    font-size: 40px; 
}
 

//menu2
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet');
html, body, h1, h2, h3, h4, h5, h6, p, li, ol, ul, pre {
    margin: 0;
    padding: 0;
}
html, body { min-height: 100%; }

body {
    background-color: #345;
    background-image: linear-gradient(to bottom, #0009, transparent);
    color: #eee;
    font-family: sans-serif;
    font-size: 62.5%;
    padding: 0 20px;
    box-sizing: border-box;
}
code {
    background: #fff1;
    font-family: sans-serif;
    padding: .2em .4em;
}

.content {
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    color: #666;
    font-size: 1.6em;
    line-height: 1.4em;
    margin: 20px auto;
    margin-top: 80px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
}
.content ul {
    margin: .5em 2em;
    padding: 0;
}

#footer {
    background-color: #246c;
    background-image: linear-gradient(to bottom, transparent, #0009);
    border-top: 1px solid #fff3;
    box-shadow: inset 0 1px 0 #fff3, 0 0 32px #000;
    overflow: hidden;
    padding: 8px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9001;
}
#footer a {
    color: #85c6f6;
    padding: 1em 0;
    text-decoration: none;
}
#footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 2em;
    font-weight: 300;
}
#footer ul li {
    padding: 0 .5em;
}

/* Appearance */
.links {
    background-color: #075ebd;
    background-image: linear-gradient(to bottom, #0003, transparent);
    border-bottom: 1px solid #0003;
    box-shadow: 0 0 32px #0003;
    font-size: 1em;
    font-weight: 200;
    font-family: sans-serif;
}

.links > a {
    color: #fff100;
    padding: .75em;
    text-align: center;
    text-decoration: none;
    transition: all .5s;
}

.links > a:hover {
    background: #ffffff06;
    color: #adf;
}

.links > .line {
    background: #68a;
    height: 1px;
    pointer-events: none;
}

/* The Magic */

#header {
  position: fixed;
  top: 85px;
  left: 0;
  right: 0;
}
.links {
    display: grid;
    grid-template-columns: repeat(var(--items), 1fr);
    position: relative;
}

.links > .line {
    opacity: 0;
    transition: all .5s;
    position: absolute;
    bottom: 0;
    left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
    width: var(--width, calc(100% / var(--items)));
    --index: 0;
}

.links > a:hover ~ .line {
    opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
.links > a:last-of-type:hover ~ .line { --index: var(--items); }

//div menu 
#DivMenuLiso {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #023d71;
  height: 100px;
  width: 100%;
  
}


#DivMenuLogo{
  width: 250px;
  height: 100px;
  margin-top: 1px;
  margin-left: 1%;
  background-image:url("../../../assets/logomarca-unip-fundo-transparente.png");
  background-size: 99%;
}
#DivMenuSair{
  width: 100px;
  height: 100px;
  margin-top: 1px;
  margin-left: 50%;
  background-size: 99%;
}
#DivMenuComLink{  
    display: inline-flex;
  }

#DivMenuIndicadorBtn{
    background-image:url("../../../assets/MenuIcons/Sair.png");  
    background-size: 98%;
    width: 45px;
    height: 45px;
    border-radius: 15%;
    background-color: #023d71;
    margin-top: 1px;
    margin-right: 20px;  
    position: absolute;
    top: 16px;
    right: 0px;
    display: inline-table;
}
.titleSair{
    font-family: sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: bold; 
    padding: 45px 0px 0px 0px;
}

#DivMenuCentralizado{
    width: 250px;
    height: 100px;
    margin-top: 1px;
    margin-right: 10px;
    margin-left: 40%;  
    position: absolute;
    top: 1px;
    display: inline-flex;
}

.MenuTitle{
    font-family: sans-serif;
    font-size: 28px;
    color: rgb(251, 255, 6);
    font-weight: bold; 
    padding: 25px 0px 0px 0px;
}

.cardInfos{
    border:solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: #a6a4a4;
    font-family: sans-serif;
    width: 100%;
}

.fontText{
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.textos{
    margin-top: 16px;
    font-family: sans-serif;
    font-size: 17px;
    text-align: justify;
    margin-left: 16px;
    margin-right: 16px;    
}

.footerPrivacity{
    margin-top: 36px;
    font-family: sans-serif;
    text-align: center;
   // background: linear-gradient(135deg,#07366a 0%,#003c7f 100%);
 }

#divDescricao{
    background-color: #ebebeb;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: #c2c2c2;
    padding: 1rem;
    font-family: sans-serif;     
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    margin-top: 120px;
    height:210px;
    width:520px;
    margin-right: 50%;
    margin-left: 30%;
}

.txtArea{
    background: #dfdddd;
    font-family: sans-serif;
    color: #000;
    border-radius: 8px;
    width: 35em;
    font-size: 17px;
}
.cardA{
    margin-left: 40px; 
}