<div>
    <div id="DivMenuLiso">
      <div id="DivMenuLogo">
      </div>
      <div id="DivMenuIndicador">
        <form action="/#/login">
            <button  onclick="location.href = '/#/login';" id="DivMenuIndicadorBtn" ><p class="titleSair">SAIR</p></button>
        </form>
      </div>
    </div>
    
    <div id="DivMenuComLink">
      <header id="header">
          <nav class="links" style="--items:5;">
              <a href="/#/dashboard">HOME</a>
              <a href="/#/page-rank">RECOMENDADOR</a>
              <a href="/#/acervo">ACERVO</a>
              <a href="/#/file-upload">ENVIAR ARQUIVOS</a>
              <a href="/#/about">SOBRE NÓS</a>
              <span class="line"></span>
          </nav>
        </header>
    </div>  
</div>
<div style="margin-top: 120px;">


<div>
    <p-card style="align-self: center;" header="Funcionamento" [style]="{'width': '78rem', 'margin-bottom': '2em'}">
        <br/>
        <p style="align-items: center;">O sumarizador collectio resume para voce qualquer texto de acordo com a proporção escolhida. Aproveite para ter somente as partes principais de qualquer conteúdo que deseje e otimizar seu tempo ao maximo</p>
        <p><br>1. Cole seu texto no primeiro campo</p>
        <p>2. Selecione a proporção </p>
        <p>3. Click no botão.</p>
    </p-card>
</div>


<div class="p-grid" style="margin-top: 36px;">
        <div style="margin-left: 12px; margin-right: 18px;" id="DivResumoBox">
            <textarea style="font-size: 14px; font-family: Open Sans;" id="TxtAreaResumoBox1" rows="20" class="txtArea" name="resumoBox1" style="width: 45em" 
            placeholder="Insira aqui o texto para o resumo" [(ngModel)]="toSummarizeText"></textarea>
        </div>
        <div style="margin-left: 20px; margin-right: 12px;" id="DivResumoBox2">
            <textarea placeholder="Seu texto irá aparecer aqui" style="margin-right: 10px;" id="resumoBox2" name="resumoBox2" rows="20" style="width: 45em" >{{ summarizedText }}</textarea>
        </div>
    </div>
<div style="margin-top: 36px;" class="card">
     <div class="p-grid">
        <div class="card" style="margin-right: 12px;" id="DivSelectLines">
            <label style="font-size: 14px; font-family: Open Sans; margin-left: 40px;">Proporção do texto </label>
            <input style="margin-left: 12px;" type="number" [(ngModel)]="lineQuantity" placeholder="Quantidade de Linhas" min="1" max="10"/>
        </div>
    
        <p-button style="margin-left: 100px;" class="btnSubmit" label="Enviar Resumo" icon="pi pi-check" iconPos="right" (click)="setSummarizedText()"></p-button>
        
     </div>
    <br />
</div>