/* falta centralizar
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
  }
  textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 10;
    
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    resize: none;
  }
  label {
    display: block;
    margin-bottom: 10px;
}
button{
    padding: 10px;
    max-width: 100px;
    line-height: 10;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}*/

//# p id, .classe body pra geral /*{ pra tudo .nome especifico
.content{
    margin-left: 30%;
    margin-top: 2%;
}
textarea:focus-visible{   
  background: rgb(116, 225, 65);
}
.TxtAreaResumoBox1 {
  overflow: auto;
  resize: vertical;
  font-family: Arial; 
  border: 1px solid #eafd41;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  display: block; 
}

.btnSubmit:hover{
    background: #eafd41; 
    font-family: Arial;
}