<div>
  <div id="DivMenuLiso">
    <div id="DivMenuLogo">
    </div>
    <div id="DivMenuCentralizado">
      <p class="MenuTitle">ACERVO</p>
    </div>
    <div id="DivMenuIndicador">
      <form action="">
        <button  onclick="location.href = '/#/login';" id="DivMenuIndicadorBtn" ><!--p class="titleSair">SAIR</p--></button>
      </form>
    </div>
  </div>
  
  <div id="DivMenuComLink">
    <header id="header">
      <nav class="links" style="--items: 6;">
        <a href="/#/dashboard"><img src="../../../assets/HomeOff.png"><strong>HOME</strong></a>
        <a href="/#/resumo-texto"><img src="../../../assets/SummyOff.png"><strong>SUMARIZADOR</strong></a>
        <a href="/#/page-rank"><img src="../../../assets/RecomendadorOff.png"><strong>RECOMENDADOR</strong></a>
        <a href="/#/acervo" style="color: #fff100;"><img src="../../../assets/AcervoOn.png"><strong>ACERVO</strong></a>
        <a *ngIf="!isStudent()" href="/#/file-upload"><img src="../../../assets/UploadOff.png"><strong>ENVIAR ARQUIVOS</strong></a>
        <a href="/#/about"><img src="../../../assets/AboutOff.png"><strong>SOBRE NÓS</strong></a>
        <span class="line"></span>
      </nav>
    </header>
  </div>  
</div>

<div>
  <div id="divDescricao">
    <p-header><b><p class="pTitle">Acervo</p></b></p-header>
    <br/>
    <p>Foi desenvolvido para facilitar a sua busca dentro de páginas de trabalhos e artigos dentro do banco de dados. E para usar é simples:</p><br/>
    <p>&bull; Digite o termo que deseja encontrar no campo "Filtro";</p>
    <p>&bull; Clique no botão de busca</p><br/>
    <p>E pronto, rápido e fácil suas buscas são filtradas</p>
  </div>  
  <br>
  <div>
    <p-table class="Table" #dt [columns]="cols" [value]="files" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
    totalRecords="totalRecords" pageLinks="3">
      <ng-template pTemplate="caption">
        <div id="divFilter">        
          <input id="inputFilter" type="text" pInputText size="50" placeholder="Insira sua busca aqui..." [(ngModel)]="searchItem">
          <button type="button" pButton (click)="render()" id="btnFilter">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <p style="display: inline;">Buscar</p>
          </button>
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns" [ngSwitch]="col.field">
          </th>
        </tr>
      </ng-template>
      
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">  
            <ng-container *ngIf="col.field === 'title'">
              {{rowData[col.field]}}
            </ng-container>
            <ng-container *ngIf="col.field === 'subtitle'">
              {{rowData[col.field]}}
            </ng-container>
            <ng-container *ngIf="col.field === 'author'">
              {{rowData[col.field]}}
            </ng-container>
            <ng-container *ngIf="col.field === 'action'">
              <p-button label="Download" icon="pi pi-download" iconPos="right" (click)="downloadSearchFile(rowData.id)"></p-button>
              <p-button  *ngIf="!isStudent()" label="Remover" icon="pi pi-trash" iconPos="right" (click)="removeSearchFile(rowData.id)"></p-button>
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<footer class="footerPrivacy">
  <small>
    Copyright ©2021 Collectio. Todos os direitos reservados. 
  </small>
  <a href="#/about"><small>Política de Privacidade</small></a>
</footer>