body {
    background-color: #345;
    background-image: linear-gradient(to bottom, #0009, transparent);
    color: #eee;
    font-family: sans-serif;
    font-size: 62.5%;
    padding: 0 20px;
    box-sizing: border-box;
}

#acervoTable{
    background-color: blue;
}

#divFilter{
    text-align: justify;
    width: auto;
    height: auto;
}

#inputFilter{
    width: max-content;
}

#btnFilter{
    width: 90px;
    height: 32px;
    margin-left: 1rem;
}

.Table{
    z-index: 0;
}