<strong *ngIf="isStudent()">ACESSO NEGADO!!!</strong>
<div *ngIf="!isStudent()">
  <div id="DivMenuLiso">
    <div id="DivMenuLogo">
    </div>
    <div id="DivMenuCentralizado">
      <p class="MenuTitle">ENVIAR ARQUIVOS</p>
    </div>
    <div id="DivMenuIndicador">
      <form action="/#/login">
        <button  onclick="location.href = '/#/login';" id="DivMenuIndicadorBtn" ><!--p class="titleSair">SAIR</p--></button>
      </form>
    </div>
  </div>
  
  <div id="DivMenuComLink">
    <header id="header">
        <nav class="links" style="--items:6;">
          <a href="/#/dashboard"><img src="../../../assets/HomeOff.png"><strong>HOME</strong></a>
          <a href="/#/resumo-texto"><img src="../../../assets/SummyOff.png"><strong>SUMARIZADOR</strong></a>
          <a href="/#/page-rank"><img src="../../../assets/RecomendadorOff.png"><strong>RECOMENDADOR</strong></a>
          <a href="/#/acervo"><img src="../../../assets/AcervoOff.png"><strong>ACERVO</strong></a>
          <a href="/#/file-upload" style="color: #fff100;"><img src="../../../assets/UploadOn.png"><strong>ENVIAR ARQUIVOS</strong></a>
          <a href="/#/about"><img src="../../../assets/AboutOff.png"><strong>SOBRE NÓS</strong></a>
          <span class="line"></span>
        </nav>
      </header>
    </div>  
</div>

<div class="divContent" *ngIf="!isStudent()">
  <div id="divInfo" class="divBoxes">
    <br>
    <div class="fontText"><p >Como enviar</p></div>
    <br>
    <div class="textoInfos">
      <p>&bull; Preencha as informações pedidas;</p><br>
      <p>&bull; Selecione seu arquivo diretamente da sua máquina;</p><br>
      <p>&bull; Suba somente arquivos em PDF (.pdf)</p><br>
      <p>&bull; Clique em enviar</p><br>
      <p>&bull; Para consultar o arquivo, basta ir na tela de acervo e buscar por alguma das informações inseridas.</p><br>
      <p>&bull; Dentro da página inicial também será possivel a visualização da sua recente importação a partir da busca!</p> 
    </div>
  </div>
  <div id="divInputs" class="divBoxes">
    <div class="fontText"><p>Informações do arquivo</p></div>
    <div class="infosUpload">
      <input 
        class="inputInfoFile" 
        type="text" 
        name="title" 
        pInputText 
        size="55" 
        placeholder="Titulo" 
        [(ngModel)]="title" 
      />
      <input 
        class="inputInfoFile"
        type="text"
        name="subtitle" 
        pInputText size="55" 
        placeholder="Subtitulo" 
        [(ngModel)]="subtitle" 
      />  
      <input 
        class="inputInfoFile" 
        type="text" 
        name="course" 
        pInputText size="55" 
        placeholder="Curso"  
        [(ngModel)]="course" 
      />
      <input 
        class="inputInfoFile" t
        ype="text" 
        name="author" 
        pInputText size="55" 
        placeholder="Autor/Autores"  
        [(ngModel)]="author" 
      />
      <input 
        class="inputInfoFile" t
        ype="text" 
        name="file" 
        pInputText size="55" 
        placeholder="(O arquivo irá aparecer aqui)"  
        [(ngModel)]="fileName" 
        readonly = true
        (change)="onFileSelected($event)"
      />
    </div>
    <!-- <span style="font-size: 16px">{{fileName}}</span> -->
    <div class="btnArquivos">
      <button (click)="fileUpload.click()" style="margin-left: 30px;" pButton type="button" label="Selecionar" class="p-button-secondary"></button>
      <p-button label="Enviar" (click)="upload(fileUpload.files)" iconPos="right"></p-button>
    </div>
    <input #fileUpload type="file" id="fileUpload" name="fileUpload" class="input-file" (change)="onFileSelected($event)"/>
  </div>
</div>

<footer *ngIf="isStudent()" class="footerPrivacy">
  <small>
    Copyright ©2021 Collectio. Todos os direitos reservados. 
  </small>
  <a href="#/about"><small>Política de Privacidade</small></a>
</footer>