.input-file{
    margin-left: -1600px;
}

body {
    background-color: #345;
    background-image: linear-gradient(to bottom, #0009, transparent);
    color: #eee;
    font-family: sans-serif;
    font-size: 62.5%;
    padding: 0 20px;
    box-sizing: border-box;
}

.content{
    flex: 1;
    width: 100%;
}

.infosUpload{
    margin-top: 16px;
    flex-direction: row;
}

.fonts{
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.btnEnviar{
    float: right;
}

.btnArquivos{
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
}

.infosUpload{
    margin-top: 16px;
    flex-direction: row;
}

.btnEnviar{
    float: right;
}

.btnArquivos{
    display: flex;
    margin-top: 16px;
    justify-content: space-evenly;
}

.titleSair{
    font-family: sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: bold; 
    padding: 45px 0px 0px 0px;
}

.fontText{
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.inputInfoFile{
    margin-top: 16px;
    margin-left: 15px;
}

.textoInfos{
    margin-top: 16px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    margin-left: 16px;
    margin-right: 16px;    
}

.divContent{
    margin-top: 120px;
    // background-color: chartreuse;
}

.divBoxes {
    width: 38%; // 38% = 513px... Talvez
    border: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: #c2c2c2;
    height: 344px;
    padding: 1rem;
    box-shadow: 
        0 2px 1px -1px 
        rgba(0, 0, 0, 0.2), 
        0 1px 1px 0 
        rgba(0, 0, 0, 0.14), 
        0 1px 3px 0 
        rgba(0, 0, 0, 0.12);
    background: #ebebeb;
    display: inline-table;
}

#divInfo{
    margin-left: 10%;
}

#divInputs{
    margin-right: 10%;
    float: right;
}

.footerPrivacy{
    margin-top: 36px;
    font-family: sans-serif;
    text-align: center;
   // background: linear-gradient(135deg,#07366a 0%,#003c7f 100%);
}

#footer {
    background-color: #246c;
    background-image: linear-gradient(to bottom, transparent, #0009);
    border-top: 1px solid #fff3;
    box-shadow: inset 0 1px 0 #fff3, 0 0 32px #000;
    overflow: hidden;
    padding: 8px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9001;
}
#footer a {
    color: #85c6f6;
    padding: 1em 0;
    text-decoration: none;
}
#footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 2em;
    font-weight: 300;
}
#footer ul li {
    padding: 0 .5em;
}

img {
    display: inline;
    width: 20px;
    height: 18px;
    margin-right: 10px;
}