<div>
  <div id="DivMenuLiso">
    <div id="DivMenuLogo">
    </div>
    <div id="DivMenuIndicador">
      <form action="/#/login">
        <button id="DivMenuIndicadorBtn"><p class="titleSair">SAIR</p></button>
      </form>
    </div>
    <span class="SpanMenuLiso"></span>
  </div>

  <div>
    <header id="header">
      <nav class="links" style="--items: 7;">
          <a href="/#/dashboard">HOME</a>
          <a href="/#/resumo-texto">SUMARIZADOR</a>
          <a href="/#/page-rank">RECOMENDADOR</a>
          <a href="/#/acervo">ACERVO</a>
          <a href="/#/file-upload">ENVIAR ARQUIVOS</a>
          <a href="/#/about">SOBRE NÓS</a>
          <a href="/#/login">SAIR</a>
          <span class="line"></span>
      </nav>
  </header>
</div>

</div>
<p></p><br>
<div style="margin-top: 130px;">
<br>
  <!-- <div>
    <p-card header="Upload de arquivos" [style]="{'width': '79rem', 'margin-bottom': '2em'}">
      <ng-template pTemplate="header">
      </ng-template>
    <br/><p>O upload de arquivos ocorre de maneira fácil e rápida, basta selecionar o arquivo e informar um autor, ou os autores separados por virgula</p>
      <p>Vale lembrar que apenas documentos autorizados devem ser postados, tal como artigos publicados ou Trabalhos de conclusão de curso ja encerrados</p>
      <p style="font-size: 8px;">*Upload apenas de arquivos em pdf!</p>
      <p>Contamos com seu bom senso ;)</p>
    </p-card>
    <br/>
    <div style="margin-left: 3px;" class="p-grid">
      <p-card header="" [style]="{'width': '20rem', 'margin-bottom': '2em'}">
        <p style="text-align: center;">Selecione o arquivo</p>
        <br/>
        <span>{{fileName}}</span>
        <br/>
        <br/>
        <button style="margin-left: 30px;" pButton type="button" label="Selecionar" class="p-button-secondary"
        (click)="fileUpload.click()"></button>
        <button style="margin-left: 45px;" pButton type="submit" label="Enviar" class="p-button-secondary" (click)="upload(fileUpload.files)"></button>
        <input #fileUpload type="file" id="fileUpload" name="fileUpload" class="input-file" (change)="onFileSelected($event)"/>
      </p-card>
      <p-card>
        <p style="justify-content: space-evenly; text-align: center; font-family: Open Sans;font-size: 16px;margin-bottom: 16px;">Informações</p>
        <div class="p-grid">
          <div class="p-col">
            <input style="margin-right: 16px;" type="text" name="title" pInputText size="35" placeholder="Titulo" style="width:auto" [(ngModel)]="title" />
          </div>
          <div class="p-col">
            <input style="margin-left: 16px;" type="text" name="subtitle" pInputText size="35" placeholder="Subtitulo" style="width:auto" [(ngModel)]="subtitle" />  
          </div>
          <div class="p-col">
            <input type="text" name="author" pInputText size="75" placeholder="Autor/Autores" style="width:auto" [(ngModel)]="author" />  
          </div>
        </div>
      </p-card>

    </div> -->   
</div>

  
<div class="content">
  <div>
    <div><p class="fonts">Informações do arquivo</p></div>
    <div class="infosUpload">
      <input type="text" name="title" pInputText size="75" placeholder="Titulo" style="width:auto" [(ngModel)]="title" />
      <input type="text" name="subtitle" pInputText size="75" placeholder="Subtitulo" style="width:auto" [(ngModel)]="subtitle" />  
      <input type="text" name="title" pInputText size="75" placeholder="Curso" style="width:auto" [(ngModel)]="course" />
      <input type="text" name="author" pInputText size="75" placeholder="Autor/Autores" style="width:auto" [(ngModel)]="author" />  
    </div>
    
  </div>
  <div class="btnArquivos">
    <div>
      <button style="margin-left: 30px;" pButton type="button" label="Selecionar" class="p-button-secondary"></button>
    </div>
    <div class="btnEnviar" >
      <p-button label="Enviar" icon="pi pi-check" iconPos="right"></p-button>
    </div>
  </div>
   

</div>


