<p-menubar [model]="items" >
    <ng-template pTemplate="start">
        <img src="../../../favicon1.ico" height="40" class="p-mr-2">
    </ng-template>
    <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Search">
    </ng-template>
</p-menubar>
<p></p>
<p-card>
    <ng-template pTemplate="header">
        Header content here
    </ng-template>
    Body Content
    <ng-template pTemplate="footer">
        Footer content here
    </ng-template>
</p-card>
<p></p>
<p-card   header="Nome da empresa" subheader="Historia bonitinha ?" > 
    <p></p>
    <img alt="Card" src="../../../assets/Logo_PNG.png" width="100px"> fotinha dela ?
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>    
</p-card>
<p></p>
<p-card header="Sobre nós" subheader="LGPD" >
     
    <p></p>
    Texto da LGPD
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    <link rel="stylesheet" href="">    
</p-card>