@media only screen and (max-width: 600px) {
  .links > a {
    display: none;
  }
}

body {
  background-color: #345;
  background-image: linear-gradient(to bottom, #0009, transparent);
  color: #eee;
  font-family: sans-serif;
  font-size: 62.5%;
  padding: 0 20px;
  box-sizing: border-box;
}

.content{
  position: absolute;
  left:10%;
  background: transparent;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

// start dropdown
// se precisar do código em outro lugar, copiar para o style.scss e trocar os ids para class
#dropdown{
  position: relative;
  display: inline-block;
}

#dropdown button {
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#btnDropdown {
  background-color: transparent;
  border: none;
}

#btnDropdown > strong {
  font-family: sans-serif;
  display: inline;
  color: #ffffff;
  font-size: 1em;
  font-weight: 200;
}

#dropdown-content {
  position: absolute;
  display: none;
  z-index: 1;
  background-color: #075ebd;
  margin-top: 46px;
  width: 100%;
}

#dropdown-content a {
  color: #ffffff;
  border: solid 0.5px rgb(40, 123, 201);
  text-decoration: none;
  padding: 12px 16px;
  display: block;
}

#dropdown:hover #dropdown-content {
  display: block;
}
// end dropdown

#divContent{
  margin-top: 120px;
}

.divDiv {
  width: 20%;
  display: inline-table;
  margin-left: 4.25%;
  padding-right: 1rem;
}

.divDash{
  width: 100%;
  height: auto;
  border: solid;
  background-color: #ebebeb;
  border-color: #c2c2c2;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-width: 1px;
  border-radius: 8px;
  padding: 1%;
  display: grid;
}

.divDash > strong {
  text-align: center;
}

.divDash > img {
  width: 60%;
  height: auto;
  margin-left: 20%;
  margin-bottom: 5%;
  margin-right: 25%;
}

.imgMenu {
  display: inline;
  width: 20px;
  height: 18px;
  margin-right: 10px;
}

/*// DataView Start
#DivDataView{
  position: relative;
  z-index: 0; 
}

.grid-card{
  border-width: 1px;
  border-style: solid;
  border-color: #b3b3b3;
  min-height: 350px;
  padding: 1rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  margin-bottom: 2rem;
  background-color: #ebebeb;
}

.grid-card > img {
  float: left;
  display: inline;
}

.inputSearch{
  margin-top: 50px;
  width: 200%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-image: url('../../../assets/searchIcon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.botaoVisualizar{
  bottom: 0px;
  float: right;
}

.grid-content{
  display: inline;
  text-align: right;
  max-width: 100px;
}
// DataView End*/

.footerPrivacy {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 5px;
}