<!DOCTYPE html>
<html>
    <div id="document">
        <div id="capa">
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 104px;">UNIVERSIDADE PAULISTA</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 36px;">NOME DO ALUNO 1</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;">NOME DO ALUNO 2</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;">NOME DO ALUNO 3</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;">NOME DO ALUNO 4</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;">NOME DO ALUNO5</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;">NOME DO ALUNO6</p></b>                  
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 114px;">TITULO DO TRABALHO</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;">Subtitulo</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 154px;">CIDADE</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;">ANO</p></b>   
        </div>
    <p style="text-align: center;">------------------------------------------------------------------------------------------</p>
    
        <div id="folhaDeRosto">
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 104px;">NOME DO ALUNO 1</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;">NOME DO ALUNO 2</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;">NOME DO ALUNO 3</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;">NOME DO ALUNO 4</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;">NOME DO ALUNO5</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;">NOME DO ALUNO6</p></b>           
             
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 114px;">TITULO DO TRABALHO</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;">Subtitulo</p></b>
            <div style="align-items: center; margin-right: 75px;margin-left:284px; margin-top: 36px;">
                <p style="font-family: Arial; font-size: 12px;text-align: right;margin-right: 75px;align-content: justify;">Trabalho de conclusão de curso
                    para obtenção do título de
                    graduação em (nome do curso)
                    apresentado à Universidade
                    Paulista – UNIP. </p>          
            </div> 
            
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 154px;">CIDADE</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;">ANO</p></b>   
        </div>
        <p style="text-align: center;">------------------------------------------------------------------------------------------</p>
    
        <div id="fichaCatalografica"></div>
        <div id="folhaAprovacao">
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 104px;">NOME DO ALUNO 1</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;">NOME DO ALUNO 2</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;">NOME DO ALUNO 3</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;">NOME DO ALUNO 4</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;">NOME DO ALUNO5</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;">NOME DO ALUNO6</p></b>           
             
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 114px;">TITULO DO TRABALHO</p></b>
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;">Subtitulo</p></b>
            <div style="align-items: center; margin-right: 75px;margin-left:284px; margin-top: 36px;">
                <p style="font-family: Arial; font-size: 12px;text-align: right;margin-right: 75px;align-content: justify;">Trabalho de conclusão de curso
                    para obtenção do título de
                    graduação em (nome do curso)
                    apresentado à Universidade
                    Paulista – UNIP. </p>          
            </div>
            <p style="text-align:left;font-family: Arial; font-size: 12px; margin-top: 36px;">Aprovador em:</p> 
            <div>
                <p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 36px;">BANCA EXAMINADORA</p>
                <div style="text-align: center;font-family: Arial; font-size: 12px;">
                    <p>_____________________________/__/___</p>
                    <p>(nome do professor)</p>
                    <p>Universidade Paulista - UNIP</p>
                </div>
                <div style="text-align: center;font-family: Arial; font-size: 12px;">
                    <p>_____________________________/__/___</p>
                    <p>(nome do professor)</p>
                    <p>Universidade Paulista - UNIP</p>
                </div>
                <div style="text-align: center;font-family: Arial; font-size: 12px;">
                    <p>_____________________________/__/___</p>
                    <p>(nome do professor)</p>
                    <p>Universidade Paulista - UNIP</p>
                </div>
            </div>
        </div>
        <p style="text-align: center;">------------------------------------------------------------------------------------------</p>
    
        <div id="dedicatoria">
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 104px;">DEDICATÓRIA</p></b>
            <p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 36px;">TEXTO TEXTO TEXTO</p>
        </div>
        <p style="text-align: center;">------------------------------------------------------------------------------------------</p>
    
        <div id="epigrafe">
            <p
                style="font-family: Arial; font-size: 10px;margin-right: 75px;margin-left:284px; margin-top: 360px;"
            >"texto"</p>
        </div>
        <p style="text-align: center;">------------------------------------------------------------------------------------------</p>
    
        <div id="resumo">
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 104px;">RESUMO</p></b>
        </div>
        <p style="text-align: center;">------------------------------------------------------------------------------------------</p>
    
        <div id="resumoEstrangeiro">
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 104px;">ABSTRACT</p></b>
        </div>
        <p style="text-align: center;">------------------------------------------------------------------------------------------</p>
    
        <div id="listaIlustracoes">
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 104px;">Lista de Ilustracoes</p></b>
        </div>
        <p style="text-align: center;">------------------------------------------------------------------------------------------</p>
    
        <div id="listaTabelas">
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 104px;">Lista de Tabelas</p></b>
        </div>
        <p style="text-align: center;">------------------------------------------------------------------------------------------</p>
    
        <div id="listaAbreviaturas">
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 104px;">Lista de Abreviaturas</p></b>
        </div>
        <p style="text-align: center;">------------------------------------------------------------------------------------------</p>
    
        <div id="sumario">
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 104px;">SUMARIO</p></b>
        </div>
        <p style="text-align: center;">------------------------------------------------------------------------------------------</p>
    
        <div id="introducao">
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 104px;">INTRODUCAO</p></b>
        </div>
        <p style="text-align: center;">------------------------------------------------------------------------------------------</p>
    
        <div id="desenvolvimento">
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 104px;">DESENVOLVIMENTO</p></b>
        </div>
        <p style="text-align: center;">------------------------------------------------------------------------------------------</p>
    
        <div id="conclusao">
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 104px;">CONCLUSÃO</p></b>
        </div>
        <p style="text-align: center;">------------------------------------------------------------------------------------------</p>
    
        <div id="referencias">
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 104px;">REFERENCIAS</p></b>
        </div>
    
    
    </div>

</html>