<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="../../../favicon1.ico" height="40" class="p-mr-2">
    </ng-template>
    <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Search">
    </ng-template>
</p-menubar>

<div style="margin-top: 36px;">
    <p-card header="Formatador" [style]="{'width': '78rem', 'margin-bottom': '2em'}">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/showcase/images/usercard.png">
        </ng-template>
        <br/>
        <p>O formatador collectio foi desenvolvido para que voce possa gerar seus documentos, individualmente, de maneira mais prática, simples e rápida.
            E é muito simples de utilizar:
        </p>
        <br/>
        <p>1. Insira as informações nos campos que deseja, por exemplo, informações da capa do projeto</p>
        <p>2. Verifique na sessão de visualização se o conteudo corresponde as expectativas</p>
        <p>3. Clique em download em baixo da tela na sessão de visualização para realizar o download em pdf do componente</p>
        <br/>
        <p>Todos os conteúdos são atualizados instantaneamente, mas lembre-se de fazer o download assim que acabar ;)</p>
    </p-card>
</div>



<div>
    
 
    <div style="margin-top: 16px; padding-top: 16px;">
        <b><p style="font-family: Open sans; font-size: 18px; color:#333333;text-align: center;">Elementos pré-textuais</p></b>
        <b><p style="font-family: Open sans; font-size: 14px; color:#333333;text-align: center;">Capa/Folha de Rosto /Ficha de aprovação</p></b>
        <input placeholder="Nome da Instituição" size="165" type="text" pInputText [(ngModel)]="instituicao"> 
        <input style="margin-right: 20px; margin-top: 16px;" placeholder="Nome e sobrenome  do Integrante 1 - RA" size="79" type="text" pInputText [(ngModel)]="aluno1"> 
        <input placeholder="Nome e sobrenome  do Integrante 2 - RA" size="79" type="text" pInputText [(ngModel)]="aluno2"> 
        <input style="margin-right: 20px; margin-top: 16px;" placeholder="Nome e sobrenome  do Integrante 3 - RA" size="79" type="text" pInputText [(ngModel)]="aluno3"> 
        <input placeholder="Nome e sobrenome  do Integrante 4 - RA" size="79" type="text" pInputText [(ngModel)]="aluno4"> 
        <input style="margin-right: 20px; margin-top: 16px;" placeholder="Nome e sobrenome  do Integrante 5 - RA" size="79" type="text" pInputText [(ngModel)]="aluno5"> 
        <input placeholder="Nome e sobrenome  do Integrante 6 - RA" size="79" type="text" pInputText [(ngModel)]="aluno6"> 
        <input 
            style="margin-right: 16px; margin-top: 24px;"

        placeholder="Titulo do trabalho" size="60" type="text" pInputText [(ngModel)]="titulo"> 
        <input placeholder="Subtitulo do trabalho" size="50" type="text" pInputText [(ngModel)]="subtitulo">
        <input style="margin-left: 24px;" placeholder="Cidade" size="25" type="text" pInputText [(ngModel)]="cidade"> 
        <input style="margin-left: 24px;" placeholder="Ano" size="8" type="text" pInputText [(ngModel)]="ano"> 
        <div style="margin-top: 16px;">
          <textarea placeholder="Texto da Folha de Rosto" rows="3" cols="166" pInputTextarea [(ngModel)]="textoFolha"></textarea>
        </div>
    </div>
        
        
    <div style="margin-top: 16px; padding-top: 16px;">
        <b><p style="font-family: Open sans; font-size: 18px; color:#333333;text-align: center;">Elementos pré-textuais</p></b>
        <b><p style="font-family: Open sans; font-size: 14px; color:#333333;text-align: center;">Dedicatória / Resumo / Abstract / Listas</p></b>
        <div style="margin-top: 16px;">
            <textarea placeholder="Dedicatória" rows="3" cols="166" pInputTextarea [(ngModel)]="dedicatoria"></textarea>
        </div>
        <div style="margin-top: 16px;">
            <textarea placeholder="Resumo" rows="3" cols="166" pInputTextarea [(ngModel)]="resumo"></textarea>
        </div>
        <div style="margin-top: 16px;">
            <textarea placeholder="Abstract" rows="3" cols="166" pInputTextarea [(ngModel)]="abstract"></textarea>
        </div>
        <div style="margin-top: 16px;">
            <textarea placeholder="Lista de Ilustrações" rows="3" cols="166" pInputTextarea [(ngModel)]="listaIlustracao"></textarea>
        </div>
        <div style="margin-top: 16px;">
            <textarea placeholder="Lista de Tabelas" rows="3" cols="166" pInputTextarea [(ngModel)]="listaTabelas"></textarea>
        </div>
        <div style="margin-top: 16px;">
            <textarea placeholder="Lista de Abreviaturas e siglas" rows="3" cols="166" pInputTextarea [(ngModel)]="abreviaturas"></textarea>
        </div>
        <div style="margin-top: 16px;">
            <textarea placeholder="Sumário" rows="3" cols="166" pInputTextarea [(ngModel)]="sumario"></textarea>
        </div>
    </div>

    <div style="margin-top: 16px; padding-top: 16px;">
        <b><p style="font-family: Open sans; font-size: 18px; color:#333333;text-align: center;">Elementos textuais</p></b>
        <b><p style="font-family: Open sans; font-size: 14px; color:#333333;text-align: center;">Introdução / Desenvolvimento / Conclusão</p></b>
        <div style="margin-top: 16px;">
            <textarea placeholder="Introdução" rows="10" cols="166" pInputTextarea [(ngModel)]="introducao"></textarea>
        </div>
        <div style="margin-top: 16px;">
            <textarea placeholder="Desenvolvimento" rows="3" cols="166" pInputTextarea [(ngModel)]="desenvolvimento"></textarea>
        </div>
        <div style="margin-top: 16px;">
            <textarea placeholder="Conclusão" rows="3" cols="166" pInputTextarea [(ngModel)]="conclusao"></textarea>
        </div>
    
    </div>

    <div style="margin-top: 16px; padding-top: 16px;">
        <b><p style="font-family: Open sans; font-size: 18px; color:#333333;text-align: center;">Elementos pós-textuais</p></b>
        <b><p style="font-family: Open sans; font-size: 14px; color:#333333;text-align: center;">Referências</p></b>
        <div style="margin-top: 16px;">
            <textarea placeholder="Referências" rows="3" cols="166" pInputTextarea [(ngModel)]="referencias"></textarea>
        </div>
    </div>

     
    <div style="margin-bottom: 15px; margin-top: 15px; justify-content: space-between; padding-top: 15px;">
      <b><p style="font-family: Open sans; font-size: 18px; color:#333333;text-align: center;">Visualização prévia do documento</p></b>
      <b><p style="font-family: Open sans; font-size: 14px; color:#333333;text-align: center;">Cliique para expandir o elemento que deseja visualizar antes do download</p></b>
      <div style="margin-top: 26px;">
        <p-fieldset  legend="Capa" [toggleable]="true" collapsed="#{controllerFormSectionDisplay.isSectionBClosed}">
          <div id="capaDocument" style="width: 600px;">
            <b><p class="cover-elements" style="margin-top: 104px;">{{instituicao}}</p></b>
            <b><p class="cover-elements" style="margin-top: 36px;">{{aluno1}}</p></b>
            <b><p class="cover-elements">{{aluno2}}</p></b>
            <b><p class="cover-elements">{{aluno3}}</p></b>
            <b><p class="cover-elements">{{aluno4}}</p></b>
            <b><p class="cover-elements">{{aluno5}}</p></b>
            <b><p class="cover-elements">{{aluno6}}</p></b>
            <b><p class="cover-elements" style="margin-top: 114px;">{{titulo}}</p></b>
            <b><p class="cover-elements">{{subtitulo}}</p></b>
            <b><p class="cover-elements" style="margin-top: 154px;">{{cidade}}</p></b>
            <b><p class="cover-elements">{{ano}}</p></b>
          </div>
        </p-fieldset>
      </div>
      <p-button (click)="printCapa()" label="Download" icon="pi pi-download" iconPos="right"></p-button>
        
      <div style="margin-top: 16px;">
        <p-fieldset style="margin-top: 16px;" legend="Folha de Rosto" [toggleable]="true" collapsed="#{controllerFormSectionDisplay.isSectionBClosed}">
          <div id="folhaRosto">
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 36px;">{{aluno1}}</p></b>
            <b><p class="cover-elements">{{aluno2}}</p></b>
            <b><p class="cover-elements">{{aluno3}}</p></b>
            <b><p class="cover-elements">{{aluno4}}</p></b>
            <b><p class="cover-elements">{{aluno5}}</p></b>
            <b><p class="cover-elements">{{aluno6}}</p></b>                  
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 114px;">{{titulo}}</p></b>
            <b><p class="cover-elements">{{subtitulo}}</p></b>
            <div style="align-items: center; margin-right: 75px;margin-left:284px; margin-top: 36px;">
              <p style="font-family: Arial; font-size: 12px;text-align: right;margin-right: 75px;align-content: justify;">{{textoFolha}}</p>          
            </div> 
            <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 154px;">{{cidade}}</p></b>
            <b><p class="cover-elements">{{ano}}</p></b>   
          </div>
        </p-fieldset>
      </div>
      <p-button (click)="printFolhaRosto()" label="Download" icon="pi pi-download" iconPos="right" ></p-button>
         
      <div  style="margin-top: 16px;">
        <p-fieldset style="margin-top: 16px;" legend="Ficha de Aprovacão" [toggleable]="true"  collapsed="#{controllerFormSectionDisplay.isSectionBClosed}">
          <div id="fichaAprovacao" style="width: 600px; justify-content: center;justify-items: center; align-items: center; align-content: center; align-self: center; text-align: center;">
            <b><p class="cover-elements" style="margin-top: 36px;">{{aluno1}}</p></b>
            <b><p class="cover-elements">{{aluno2}}</p></b>
            <b><p class="cover-elements">{{aluno3}}</p></b>
            <b><p class="cover-elements">{{aluno4}}</p></b>
            <b><p class="cover-elements">{{aluno5}}</p></b>
            <b><p class="cover-elements">{{aluno6}}</p></b>                  
            <b><p class="cover-elements" style="margin-top: 114px;">{{titulo}}</p></b>
            <b><p class="cover-elements">{{subtitulo}}</p></b>
            <p style="text-align:left;font-family: Arial; font-size: 12px; margin-top: 36px;">Aprovado em:</p> 
            <div>
              <p style="text-align: center;
                font-family: Arial; font-size: 12px;
                margin-top: 36px;">BANCA EXAMINADORA
              </p>
              <div class="cover-elements">
                <p>_____________________________/__/___</p>
                <p>(nome do professor)</p>
                <p>Universidade Paulista - UNIP</p>
              </div>
              <div class="cover-elements">
                <p style="text-align: center">_____________________________/__/___</p>
                <p>(nome do professor)</p>
                <p>Universidade Paulista - UNIP</p>
              </div>
              <div class="cover-elements">
                <p>_____________________________/__/___</p>
                <p>(nome do professor)</p>
                <p>Universidade Paulista - UNIP</p>
              </div>
            </div>
          </div>
        </p-fieldset>
      </div>
      <p-button (click)="printFichaAprovacao()" label="Download" icon="pi pi-download" iconPos="right"></p-button>

        <div style="margin-top: 16px;">
            <p-fieldset style="margin-top: 16px;" legend="Dedicatoria" [toggleable]="true" collapsed="#{controllerFormSectionDisplay.isSectionBClosed}">
                <div id="dedicatoria" style="width: 600px;">
                    <b><p class="title-format">DEDICATÓRIA</p></b>
                    <p class="text-format">{{dedicatoria}}</p>
                </div>
            </p-fieldset>
        </div>
        <p-button (click)="printDedicatoria()" label="Download" icon="pi pi-download" iconPos="right"></p-button>

        <div style="margin-top: 16px;">
            <p-fieldset style="margin-top: 16px;" legend="Resumo" [toggleable]="true" collapsed="#{controllerFormSectionDisplay.isSectionBClosed}">
                <div id="resumo" style="width: 600px;">
                    <b><p class="title-format">RESUMO</p></b>
                    <p class="text-format">{{resumo}}</p>
                </div>
            </p-fieldset>
        </div>
        <p-button (click)="printResumo()" label="Download" icon="pi pi-download" iconPos="right"></p-button>

        <div style="margin-top: 16px;">
            <p-fieldset style="margin-top: 16px;" legend="Abstract" [toggleable]="true" collapsed="#{controllerFormSectionDisplay.isSectionBClosed}">
                <div id="abstract" style="width: 600px;"> 
                    <b><p class="title-format">ABSTRACT</p></b>
                    <p class="text-format">{{abstract}}</p>
                </div>
            </p-fieldset>
        </div>
        <p-button (click)="printAbstract()" label="Download" icon="pi pi-download" iconPos="right"></p-button>

        <div style="margin-top: 16px;">
            <p-fieldset style="margin-top: 16px;" legend="Listas" [toggleable]="true" collapsed="#{controllerFormSectionDisplay.isSectionBClosed}">
                <div id="listas">
                    <div id="listaIlustracoes">
                        <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 104px;">Lista de Ilustracoes</p></b>
                    </div>
                    
                
                    <div id="listaTabelas">
                        <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 104px;">Lista de Tabelas</p></b>
                    </div>
                    
                
                    <div id="listaAbreviaturas">
                        <b><p style="text-align: center;font-family: Arial; font-size: 12px;margin-top: 104px;">Lista de Abreviaturas</p></b>
                    </div>
                </div>
            </p-fieldset>
        </div>
        <p-button (click)="printListas()" label="Download" icon="pi pi-download" iconPos="right"></p-button>

        <div style="margin-top: 16px;">
            <p-fieldset style="margin-top: 16px;" legend="Sumário" [toggleable]="true" collapsed="#{controllerFormSectionDisplay.isSectionBClosed}">
                <div id="sumario" style="width: 600px;">
                    <b><p class="title-format">SUMARIO</p></b>
                    <p class="text-format">{{sumario}}</p>
                </div>
            </p-fieldset>
        </div>
        <p-button (click)="printSumario()" label="Download" icon="pi pi-download" iconPos="right"></p-button>

        <div style="margin-top: 16px;">
            <p-fieldset style="margin-top: 16px;" legend="Introdução" [toggleable]="true" collapsed="#{controllerFormSectionDisplay.isSectionBClosed}">
                <div id="introducao">
                    <b><p class="title-format">Introdução</p></b>
                    <p class="text-format">{{introducao}}</p>
                </div>
            </p-fieldset>
        </div>
        <p-button (click)="printIntroducao()" label="Download" icon="pi pi-download" iconPos="right"></p-button>

        <div style="margin-top: 16px;">
            <p-fieldset style="margin-top: 16px;" legend="Desenvolvimento" [toggleable]="true" collapsed="#{controllerFormSectionDisplay.isSectionBClosed}">
                <div id="desenvolvimento" style="width: 600px;">
                    <b><p class="title-format">Desenvolvimento</p></b>
                    <p class="text-format">{{desenvolvimento}}</p>
                </div>
            </p-fieldset>
        </div>
        <p-button (click)="printDesenvolvimento()" label="Download" icon="pi pi-download" iconPos="right"></p-button>

        <div style="margin-top: 16px;">
            <p-fieldset style="margin-top: 16px;" legend="Conclusão" [toggleable]="true" collapsed="#{controllerFormSectionDisplay.isSectionBClosed}">
                <div id="conclusao" style="width: 600px;">
                    <b><p class="title-format">CONCLUSÃO</p></b>
                    <p class="text-format">{{conclusao}}</p>
                </div>
            </p-fieldset>
        </div>
        <p-button (click)="printConclusao()" label="Download" icon="pi pi-download" iconPos="right"></p-button>

        <div style="margin-top: 16px;">
            <p-fieldset style="margin-top: 16px;" legend="Referências" [toggleable]="true" collapsed="#{controllerFormSectionDisplay.isSectionBClosed}">
                <div id="referencias" style="width: 600px;">
                    <b><p class="title-format">REFERENCIAS</p></b>
                    <p class="text-format">{{referencias}}</p>
                </div>
            </p-fieldset>
        </div>
        <p-button (click)="printReferencias()" label="Download" icon="pi pi-download" iconPos="right"></p-button>
    </div>
</div>