.title-format{
    text-align: center;
    font-family: Arial; 
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.text-format {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-align: justify;
}
.cover-elements{
    text-align: center;
    font-family: Arial;
    font-size: 12px;
}