<div>
<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="../../../favicon1.ico" height="40" class="p-mr-2">
    </ng-template>
    <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Search">
    </ng-template>
</p-menubar>
</div>
<br>
<!--p-dataView [value]="listLocal">
    <ng-template let-listLocal pTemplate="listItem">
        {{listLocal.name}}
    </ng-template>
</p-dataView-->

<p-dataView [value]="bookLocal">
    <ng-template let-bookLocal pTemplate="listItem">
        <div>
            {{bookLocal.price}}
        </div>
    </ng-template>
    <ng-template let-bookLocal pTemplate="listItem">
        <div>
            {{bookLocal.name}}
        </div>
    </ng-template>
</p-dataView>