<div>
  <div id="DivMenuLiso">
    <div id="DivMenuLogo"></div>
    <div id="DivMenuSair"></div>
    <span class="SpanMenuLiso"></span>
  </div>

  <div id="DivOptions">
    <header id="header">
      <nav class="links" style="--items: 6;">
          <a href="/#/resumo-texto">SUMARIZADOR</a>
          <a href="/#/page-rank">RECOMENDADOR</a>
          <a href="/#/acervo">ACERVO</a>
          <a href="/#/file-upload">ENVIAR ARQUIVOS</a>
          <a href="/#/about">SOBRE NÓS</a>
          <a href="/#/login">SAIR</a>
          <span class="line"></span>
      </nav>
    </header>
  </div>

  <div id="DivDataView">
    <div>
      <p-dataView #dv id="dataView-content" [value]="fileViewComponent" layout="grid" [paginator]="true" [rows]="12" filterBy="title">
        <p-header id="dataView-header">
          <span class="p-input-icon-left p-mb-2 p-mb-md-0">
            <i class="pi pi-search"></i>
            <input id="inputSearch" type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
          </span>
        </p-header>
        <ng-template let-fileViewComponent pTemplate="gridItem">
          <div class="p-col-12 p-md-3" style="justify-content: space-between;">
            <div class="grid-card">
              <img class="image-format" src="../../../assets/pdf.png" alt="pdfImage">
              <div class="grid-content">
                <div><b>Title:</b> {{fileViewComponent.title}}</div>
                <br>
                <div><b>Subtitle:</b> {{fileViewComponent.subtitle}}</div>
                <br>
                <div><b>Autor/Autores:</b> {{fileViewComponent.author}}</div>
                <div>
                <p-button label="Visualizar" icon="pi pi-eye" iconPos="right" (click)="downloadSearchFile(fileViewComponent.id)" ></p-button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </div>
</div>
