@charset "utf-8";
/* CSS Document */

.div1
{
	border-width: 1px;  
	text-align: center; 
	border-color: #808080;	
	background-color: white;
	border-style: ridge;
	width: 49%;
	min-height: 610px;
	float:left;

}

.div2
{
	position: relative;
	border-style: ridge;
	border-width: 1px;
	float: left;
	border-color: #808080;
	height: 842px;
	width: 595px;
}

.botao
{
	padding: 6px 31px;
	border: 0px ;
	background-color: #000;
	border-radius: 9px;
    border-color: black;
	background: #808080;
	font-family: 'Arial';
	font-size: 15px;
	cursor:pointer;
	color: white;


}
.botao2
{
	padding: 6px 31px;
	border: 0px ;
	background-color: #fff;
	border-radius: 9px
    border color: black;
	background: #000;
	font-family: 'Arial';
	font-size: 15px;
	cursor:pointer;
	color: white;
	margin-top: 15px;
	margin-left: 45px;
	position: center;


}

.form
{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-family: 'Arial';
	font-size: 20PX;
}

.form2
{
	width: 400px;
	height: 20px;
}
.form3
{
	width: 365px;
	height: 20px;
}
.form4
{
	width: 380px;
	height: 20px;
}
.form5
{
	width: 360px;
	height: 20px;
}

.form6
{
	width: 400px;
	height: 20px;
}


.form33
{
	width: 355px;
	height: 20px;
}
.form18
{
	width: 500px;
	height: 100px;
}
.form7
{
	width: 470px;
	height: 20px;
}

.formulario
{
	margin-left: 45px;
	margin-right: 5px;
}
.formulario2
{
	margin-bottom: 5px;
}
.seila
{
	margin-bottom: 60px;