<div class="p-grid p-justify-center card">
  <div class="p-col-10 p-sm-6 p-md-4">
    <p-card>
      <div class="p-grid">
        <div class="p-col-12 text-center">
          <img src="./assets/Logo_PNG.png" width="40%" height="50%">
          <!--<i class="fas fa-car fa-4x" style="color: #007ad9;"></i>-->
          <h2>Collectio</h2>
        </div>
        <div class="p-col-12">
          <label for="">Usuário:</label>
          <input
            id="InpLogin"
            [(ngModel)]="requestLogin.login"
            class="p-col-12"
            type="text"
            pInputText
          />
        </div>
        <div class="p-col-12">
          <label for="">Senha:</label>
          <input
            id="InpSenha"
            [(ngModel)]="requestLogin.password"
            class="p-col-12"
            type="password"
            pInputText
          />
        </div>
        <div class="p-col-12">
          <button
            id="BtnLogin"
            (click)="doLogin()"
            pButton
            type="button"
            label="Entrar"
            class="p-col-12"
          ></button>
        </div>
      </div>
    </p-card>
  </div>
  <div>
    a
  </div>
</div>
